<div class="page-header">
  <h1>The Activity Diet</h1>
</div>

<html>
<head>
  <title>Final Project Mockup Template</title>
  <link rel="stylesheet" type="text/css" href="css/activity_diet_V1.0.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <script src="js/bootstrap.js"></script>
</head>
<body>
  <div class="container">
    <div class="margin">
      <div class="row">
        <div class="col-md-4">
          <select class="form-control" placeholder="Number of People">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
          </select>
        </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Zip Code">
      </div>
      <div class="col-md-4">
          <select class="form-control" placeholder="Season">
            <option>Summer</option>
            <option>Fall</option>
            <option>Winter</option>
            <option>Spring</option>
          </select>
      </div>
      </div>
    <div class="row">&nbsp;
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-3">
          <!-- <img src="http://www1.uwe.ac.uk/images/feature-active.jpg" class="img-responsive"> -->
          <img src=<%= @solution.first.image_url %> width="500" class="img-responsive">
        </div>
    </div>
    <div class="row">
      <div class="margin">
        <div class="col-md-8 col-md-offset-3">
          <p> <%= @solution.first.description %> </p>
        </div>
    <div class="row">
      <div class="margin">
        <div class="col-md-4 col-md-offset-4 text-center">
            <a href="" class="btn btn-large btn-primary" type="button">Get Active!</a>
        </div>
      </div>
    </div>
    <div class="row">&nbsp;
    </div>
        <div class="row">&nbsp;
    </div>
    <div class="row">
      <div class="col-md-12">
        <footer>&#169; ActivityDiet Inc.</footer>
      </div>
    </div>
  </div>
</body>
</html>

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td>
          <a href="/ideas/<%= idea.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/ideas/<%= idea.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_idea/<%= idea.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->

