<div class="page-header">
  <h1>Click #<%= @click.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @click.user_id %></dd>

  <dt>Activity</dt>
  <dd><%= @click.activity_id %></dd>

  <dt>Activity</dt>
  <dd><%= @click.activity %></dd>

  <dt>Click time</dt>
  <dd><%= @click.click_time %></dd>

</dl>
