<div class="page-header">
  <h1>Activity #<%= @activity.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd><%= @activity.description %></dd>

  <dt>Image URL</dt>
  <dd><%= @activity.image_url %></dd>

  <dt>Min people</dt>
  <dd><%= @activity.min_people %></dd>

  <dt>Season</dt>
  <dd><%= @activity.season %></dd>

  <dt>Zip</dt>
  <dd><%= @activity.zip %></dd>

  <dt>Website</dt>
  <dd><%= @activity.website %></dd>

</dl>
